//COLOR
$white: #FFFFFF;
$black: #000000;
$darkblue: #003399;
$lightblue: #008ACB;
$blue: #004288;
$gray: #747272;
$darkgray:#3C3C3C;
$silver: #CCCCCC;
$red: #E42616;
$lightgray: #f4f4f4;

//COLOR LINK
$ahover: #005C87;

//COLORS BUTTONS & HOVERS
$bluebuttonhover: #005C87;
$redbuttonhover: #A61C10;

//SOCIAL NETWORKS HOVERS
$redyoutube: #E52D27;
$bluefacebook: #4A73C9;
$redgoogle: #D34836;
$bluetwitter: #4099FF;
