.content {
  max-width: 1326px;
  margin: 0 auto;

  @include respond-to(tablet) {
    margin-bottom: 50px;
  }

  &__inner {
    margin: 50px auto;
    max-width: 1328px;
    width: 100%;

    @include respond-up-to(tablet) {
      padding-left: 15px;
      padding-right: 15px;
      text-align: center;
    }

    @include respond-to(tablet) {
      display: table;
    }

    &--2nd,
    &--4th {

      @include respond-up-to(tablet) {
        display: flex;
        margin-top: 50px;
        flex-direction: column;
      }
    }

    &--2nd {

      & .content__info {

        @include respond-to(tablet) {
          padding-left: 300px;
          padding-right: 30px;
          width: 65%;
        }

        @include respond-to(laptop) {
          padding-left: 315px;
          padding-right: 0;
          width: 60%;
        }
      }

      & .content__preview {
        padding-left: 0;
        padding-right: 0;
        width: auto;
      }

      & .content__img {

        @include respond-up-to(tablet) {
          box-shadow: -15px 15px $img-dropshadow;
          margin-left: 15px;
        }

        @include respond-to(tablet) {
          box-shadow: -25px 25px $img-dropshadow;
          width: 70%;
        }

        @include respond-to(laptop) {
          box-shadow: -35px 35px $img-dropshadow;
        }
      }
    }

    &--3rd {
      margin-top: 50px;

      & .content__info {

        @include respond-to(tablet) {
          padding-right: 15%;
        }

        @include respond-to(laptop) {
          padding-right: 10%;
        }
      }

      & .content__preview {

        @include respond-to(tablet) {
          padding-left: 0;
          padding-right: 30px;
          width: 45%;
        }
      }
    }

    &--4th {

      & .content__info {

        @include respond-to(tablet) {
          padding-left: 285px;
          padding-right: 60px;
          width: 60%;
        }
      }

      & .content__preview {
        padding-left: 0;
        padding-right: 30px;
        width: auto;
      }

      & .content__img {

        @include respond-up-to(tablet) {
          box-shadow: -15px 15px $img-dropshadow;
          margin-left: 30px;
        }

        @include respond-to(tablet) {
          box-shadow: -25px 25px $img-dropshadow;
        }

        @include respond-to(laptop) {
          box-shadow: -35px 35px $img-dropshadow;
        }
      }
    }
  }

  &__info {

    @include respond-up-to(tablet) {
      margin-left: auto;
      margin-right: auto;
      order: 1;
    }

    @include respond-to(tablet) {
      display: table-cell;
      padding-right: 5%;
      vertical-align: middle;
    }
  }

  &__highlight {
    color: $green;
  }

  &__preview {

    @include respond-up-to(tablet) {
      margin-left: auto;
      margin-right: auto;
    }

    @include respond-to(tablet) {
      display: table-cell;
      padding-left: 30px;
      vertical-align: middle;
      width: 65%;
    }

    @include respond-to(laptop) {
      width: 60%;
    }
  }

  &__img {
    max-width: calc(100% - 15px);

    @include respond-up-to(laptop) {
      box-shadow: 15px 15px $img-dropshadow;
      margin-right: 15px;
    }

    @include respond-to(tablet) {
      box-shadow: 25px 25px $img-dropshadow;
      margin-left: 10%;
      width: 75%;
    }

    @include respond-to(laptop) {
      box-shadow: 35px 35px $img-dropshadow;
      margin: 0 5vw;
      width: 75%;
    }
  }

  &__title,
  &__excerpt {
    font-family: $font-glypha;
    margin: 0;

    @include respond-up-to(tablet) {
      text-align: center;
    }
  }

  &__title {
    font-weight: $font-weight-bold;
    font-size: 1.6rem;
    line-height: .95;
    margin-bottom: 30px;

    @include respond-up-to(tablet) {
      margin-top: 30px;
    }

    @include respond-to(laptop) {
      font-size: 2.3rem;
      margin-bottom: 40px;
    }

    @include respond-to(tablet) {
    }
  }

  &__excerpt {
    font-family: $font-family-sans-serif;
    margin-bottom: 30px;

    @include respond-up-to(tablet) {
      line-height: 1.3;
    }

    @include respond-to(laptop) {
      font-size: 1.1rem;
    }
  }

  &__link {
    font-family: $font-family-sans-serif;

    @include links();

    &::not(:first-child) {
      margin-left: 50px;
    }

    @include respond-up-to(tablet) {
      display: block;
      text-align: center;
    }

    @include respond-to(laptop) {
      font-size: 1rem;
    }

    &--half {

      @include respond-up-to(tablet) {
        display: inline-block;
        text-align: center;
        width: 50%;

        &:last-child {
          // text-align: left;
        }
      }
    }
  }
}
