@mixin links {
  border: 0;
  color: $green;
  font-weight: $font-weight-normal;
  padding: 5px 0;
  outline: 0;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:after {
    content: ' \02794';
  }

  &:hover {
    color: $green;
    text-decoration: none;
  }
}
