html,
body {
  background-color: $white;
  color: $default-font-color;
  font-size: $default-font-size;
  font-weight: $font-weight-regular;
  line-height: $default-line-height;

  @include respond-to(small) {
    font-size: $default-font-size-small;
  }

  @include respond-to(medium) {
    font-size: $default-font-size-medium;
  }

  @include respond-to(large) {
    font-size: $default-font-size-large;
  }

  * {
    box-sizing: border-box;

    &:before,
    &:after {
      box-sizing: border-box;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  h1, h2, h3, h4, h5 {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
  }
}
