.bg-image-component {
  height: 100%;
  object-fit: cover;
  object-position: center top;
  width: 100%;

  &.lazyloading {
    background-color: $light-grey;
  }

  &--center-bg {
    background-position: center;
  }
}
