$default-font-color: #373737;

$black: #000;
$white: #fff;
$green: #6da608;
$red: #e40614;
$yellow: #ffde00;
$light-gray: #ebebeb;
$silver: #ccc;

$hero-section-bg-color: #6da608;
$img-dropshadow: $light-gray;
$categories-section-bg-color: $light-gray;
$services-section-bg-color: $light-gray;
$products-info-box-bg-color: $default-font-color;
$products-price-bg-color: $yellow;
$products-percentaget-bg-color: $default-font-color;

$lazyloading-bg-color: $silver;
